body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image: url("http://img.freepik.com/free-vector/gingham-style-background_1048-2586.jpg?size=338&ext=jpg")
}

.container {
  width: 75%;
  height: 100%;
  background: white;
  padding: 2.5% 10%;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1, h2, figcaption {
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  margin: 5% 0;
  font-size: 1.5em;
}

h4 {
  font-weight: bold;
}


img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 5% auto 5%;
  padding:1px;
  border:1px solid #021a40;
}

ul {
  list-style: none;
}

li {
  font-size: 1.2em;
}

footer {
  text-align: center;
  margin-top: 10% auto 0;
  padding-top: 15%;
}

footer a, a:hover {
  text-decoration: none;
  color: black;
}