body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image: url("http://img.freepik.com/free-vector/gingham-style-background_1048-2586.jpg?size=338&ext=jpg")
}

.container {
  width: 85%;
  background: white;
  padding: 20px 20px 20px 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1, h2, figcaption {
  text-align: center;
}

h3 {
  margin-bottom: 30px;
  margin-top: 30px;
}

h4 {
  font-weight: bold;
}

img {
  max-height: 300px;
  display: block;
  margin: 40px auto 20px auto;
  padding:1px;
   border:1px solid #021a40;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  margin-top: 15px;
  padding-top: 20px;
}

footer a, a:hover {
  text-decoration: none;
  color: black;
}